.content {
  padding-block: 2rem;
  font-family: "Courier New", Courier, monospace;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 20%;
  padding-left: 2%;
  background-color: rgb(238, 238, 238);
  height: 100vh;
  max-width: 300px;
  margin-right: 1rem;
}

.menuItems li {
  font-size: small;
  list-style-type: none;
}
